In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [9]:
g_key

'AIzaSyAqZZdZFmnIe2j7k_BiE9K8vGBJ4YcoJIE'

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chuy,UY,2021-04-02 22:27:07,-33.6971,-53.4616,64.15,75,7,7.00
1,1,Yellowknife,CA,2021-04-02 22:25:58,62.4560,-114.3525,8.01,78,90,6.91
2,2,Bluff,NZ,2021-04-02 22:26:02,-46.6000,168.3333,50.00,81,92,3.00
3,3,Adrar,MR,2021-04-02 22:27:17,20.5022,-10.0711,86.34,6,93,9.86
4,4,Barrow,US,2021-04-02 22:26:55,71.2906,-156.7887,-14.80,76,1,4.61

In [11]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Adrar,MR,2021-04-02 22:27:17,20.5022,-10.0711,86.34,6,93,9.86
6,6,Vaini,TO,2021-04-02 22:25:55,-21.2000,-175.2000,82.40,78,75,4.61
11,11,Rikitea,PF,2021-04-02 22:25:58,-23.1203,-134.9692,77.38,76,99,10.42
13,13,Atuona,PF,2021-04-02 22:23:51,-9.8000,-139.0333,80.55,80,24,13.18
14,14,Avarua,CK,2021-04-02 22:26:11,-21.2078,-159.7750,84.20,74,28,12.66
17,17,Hilo,US,2021-04-02 22:25:56,19.7297,-155.0900,80.60,57,1,10.36
22,22,Qui Nhon,VN,2021-04-02 22:30:36,13.7667,109.2333,76.82,92,83,4.00
23,23,Arraial Do Cabo,BR,2021-04-02 22:26:08,-22.9661,-42.0278,77.00,83,20,11.50
26,26,Kyabe,TD,2021-04-02 22:30:37,9.4515,18.9449,85.96,16,17,5.28
28,28,Mahebourg,MU,2021-04-02 22:26:33,-20.4081,57.7000,75.20,100,40,1.14

In [16]:
preferred_cities_df.count()

City_ID       168
City          168
Country       167
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3             Adrar      MR     86.34  20.5022  -10.0711
6             Vaini      TO     82.40 -21.2000 -175.2000
11          Rikitea      PF     77.38 -23.1203 -134.9692
13           Atuona      PF     80.55  -9.8000 -139.0333
14           Avarua      CK     84.20 -21.2078 -159.7750
17             Hilo      US     80.60  19.7297 -155.0900
22         Qui Nhon      VN     76.82  13.7667  109.2333
23  Arraial Do Cabo      BR     77.00 -22.9661  -42.0278
26            Kyabe      TD     85.96   9.4515   18.9449
28        Mahebourg      MU     75.20 -20.4081   57.7000

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}